/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.App{
  display:flex;
  align-items:center;
  flex-direction: column;
  padding:1%;
  text-align: center;
}

.strikethrough{
  text-decoration: line-through;
}

.toDoList{
  list-style-type: none;
}

.flexItem{
  padding:0.3%;
  width:15%;
}

.header{
  width:15%;
  border: 2px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
